
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>pizzarinho</title>
  <link rel="stylesheet" type="text/css" href="public/css/main.css">

</head>
        <body>
 <% include blocks/left.ejs %>

<div id="main_main" class='main_menu'>

</div>
      </body>
</html>
