<link rel="stylesheet" type="text/css" href="public/css/left.css">
<link rel="stylesheet" type="text/css" href="../public/css/left.css">

<script src="../public/js/menu.js"></script>
<div id='menu' class='main_menu'>
                              <ul>
                            <a href="/">  <div id='logo'>   </div></a>
                      	<li>
                      		<a href="#">Меню</a>
                      		<ul>
                      			<li id="pizza">
                      				<a href="/menu/pizza">Пицца
                              </a>
                      			</li>
                      			<li>
                      				<a href="/menu/hot">Горячие блюда</a>
                      			</li>
                      			<li>
                      				<a href="/menu/grille">Гриль меню</a>
                      			</li>
                      			<li>
                      				<a href="/menu/drink">Спиртные напитки</a>
                      			</li>
                      		</ul>
                      	<li>
                      	<li>
                      		<a href="#">Бронирование<br>столиков</a>
                      	<li>
                      	<li>
                      		<a href="#">О нас</a>
                      		<ul>
                      			<li>
                      				<a href="#">Наши контакты</a>
                      			</li>
                      			<li>
                      				<a href="#">Галлерея</a>
                      			</li>
                      			<li>
                      				<a href="#">Персонал</a>
                      			</li>
                      		</ul>
                      	<li>
                          <li>
                        		<a href="/write">Отзывы и <br>предложения</a>
                        	<li>
                      </ul>
</div>
